.chatinfo{
    padding: 14px;
    display: flex;
    height: fit-content;
}

.chatinfo button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    vertical-align: bottom;
    background: linear-gradient(to bottom right, #409EFF, skyblue);
    color: white;
    margin-left: 5px;
}

.chatinfo button:hover{
    background: linear-gradient(to bottom right, #1e74ca, skyblue);
    cursor: pointer;
}

.chatinfo_text{
    margin: 0px 10px;
    line-height: 23px;
}

.chatinfo_text > div:first-child{
    font-weight: bold;
}

.chatinfo_text > div:last-child{
    color: #909399;
}