.contact_item:hover{
    background-color: #EBEEF5;
    cursor: pointer;
}

.contact_item_active{
    color: white;
    /* background: linear-gradient(to bottom right, #409EFF, skyblue); */
    background: rgb(63, 61, 84);
    /* background-color: rgb(106, 99, 246); */
}
.contact_item_active div{
    color: white!important;
}
.contact_item_active:hover{
    background-color: rgb(53, 51, 70)!important;
    /* background: linear-gradient(to bottom right, #1e74ca, skyblue); */
}
